<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeReciept</title>
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/hotel-restaurant/512/15-512.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
